body{
    background:#7BA7AF;
    margin:0;
}
#left-div{
    background:#E2E4D2;
    width:10%;
    height: 1000px;
    margin-top: 0;
}

#twitter{
    height:50px;
    width:80px;
   padding-bottom: 200px;
}

#insta{
    height:50px;
    width:50px;
    padding-top: 610px;
}



#watermark{
   height:70px;
   width:70px;
  padding-top:12px;
}


/* #main-div{
    background: #E2E4D2;
    width: 80%;
    height: 200px;
    margin-left:15%;
    
} */



#name{
    color:#455957;
    text-align:center;
    /* border: solid #455957 5px;
    margin-top:10px; */
    padding-top:25px;
   
    font-family:'Hanson';
    src: url('HansonBold.woff2') format('woff2');
    font-style: bold;

    font-size: 50px;
    font-weight: 1000;

}

hr{
    color: #455957;
    width : 80%;
    margin-left:10%;

}
p{
    color: #455957;
    text-align:center;

}
img{

    width : 250px;
    height : 250px;
    display:block;
    margin:auto;

}
a{
    color:#455957;
    text-align:center;
}
