body{
    background:#7BA7AF;
    margin:0;
}

#main-div{
    background: #E2E4D2;
    width: 70%;
    height: 500px;
    margin-left:15%;
}



#name{
    color:#455957;
    text-align:center;
    /* border: solid #455957 5px;
    margin-top:10px; */
    padding-top:25px;
    font:'Starbim.ttf';
    font-size: 50px;
    font-weight: 1000;
}

hr{
    color: #455957;
    width : 80%;
   
    margin-left:10%;

}
p{
    color: #455957;
    text-align:center;

}
